.root {
    padding: 10px;
    max-width: 100%;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.head {
    tr {
        &:hover {
            background-color: #f5f5f5;
        }

        th {
            cursor: pointer;
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;

            &.asc {
                &:after {
                    content: '↑';
                    margin-left: 5px;
                }
            }

            &.desc {
                &:after {
                    content: '↓';
                    margin-left: 5px;
                }
            }
        }
    }
}

.body {
    tr {
        cursor: pointer;

        &:hover {
            background-color: #f5f5f5;
        }

        td {
            padding: 8px;
            text-align: left;

            .toggleImage {
                width: 30px !important;
                height: 30px !important;
            }
        }
    }

    .toggleBlock {
        border-bottom: 1px solid #ddd;
    }
}

.btnContainer {
    display: flex;
    margin-top: 50px;
    max-width: 20%;
    justify-content: space-between;
    align-items: center;

    >button {
        margin-right: 20px;
    }
}